USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 9/13/2023 8:41:47 AM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH_data1', FILENAME = N'T:\QLBH_data1.mdf' , SIZE = 51200KB , MAXSIZE = 51200KB , FILEGROWTH = 1024KB ), 
 FILEGROUP [DuLieuQLBH] 
( NAME = N'QLBH_data2', FILENAME = N'T:\QLBH_data2.ndf' , SIZE = 10240KB , MAXSIZE = 20480KB , FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'QLBH_Log', FILENAME = N'T:\QLBH_Log.idf' , SIZE = 10240KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  UserDefinedDataType [dbo].[MaVung]    Script Date: 9/13/2023 8:41:47 AM ******/
CREATE TYPE [dbo].[MaVung] FROM [char](10) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Shortstring]    Script Date: 9/13/2023 8:41:47 AM ******/
CREATE TYPE [dbo].[Shortstring] FROM [varchar](15) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[SoDienThoai]    Script Date: 9/13/2023 8:41:47 AM ******/
CREATE TYPE [dbo].[SoDienThoai] FROM [char](13) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[STT]    Script Date: 9/13/2023 8:41:47 AM ******/
CREATE TYPE [dbo].[STT] FROM [smallint] NULL
GO
/****** Object:  Table [dbo].[ThongTinKH]    Script Date: 9/13/2023 8:41:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKH](
	[MaKH] [dbo].[STT] NOT NULL,
	[Vung] [dbo].[MaVung] NULL,
	[Diachi] [dbo].[Shortstring] NULL,
	[DienThoai] [dbo].[SoDienThoai] NULL,
 CONSTRAINT [PK_ThongTinKH] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
